html {
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
  width: 300px;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  margin-bottom: 50px;
}

.header {
  text-align: center;
}

.subheader {
  padding: 0 20px;
  text-align: center;
  display: block;
  width: 100%;
}

.text {
  padding: 0 20px;
}

.sublist {
  margin-bottom: 10px;
}

.desc {
  text-align: center;
}

.select {
  margin-bottom: 30px;
  margin-right: 20px;
}

.a_to_z , .z_to_a, .news , .olds {
  padding: 5px 15px;
  background-color: blue;
  color: white;
  border: 1.4px solid white;
  transition: all .3s ease;
  font-weight: 500;
}

.a_to_z:hover , .z_to_a:hover, .news:hover , .olds:hover {
  background-color: #fff;
  color: blue;
  border: 1.4px solid blue;
}


.bookmark {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 5px;
  padding: 5px 15px;
  background-color: blue;
  color: white;
  border: 1.4px solid white;
  transition: all .3s ease;
  font-weight: 500;
}

.modal {
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 5px 15px;
  background-color: blue;
  color: white;
  border: 1.4px solid white;
  transition: all .3s ease;
  font-weight: 500;
}

.bookmark-delete {
  margin-left: 20px;
}